/**************************************
Service Master Video Manager CSS
**************************************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/** CLEAR FIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

img, iframe, video { max-width: 100%; }

/** GLOBAL */
body { background: #F7F7F7; color: #333; font-size: 14px; font-family: Helvetica, Arial, sans-serif; }
#wrapper { width: 1200px; margin: 0 auto; background: #fff; }
#content { padding-bottom: 20px; }

#headerBox {
	background: #f7f7f7;
	padding: 10px;
	margin: 20px 0 30px;
}
#headerBox h1 { 
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
}

/** HEADER */
#logo {
	display: inline-block;
	margin: 30px 0 0 20px;
}

#navlist { 
	width: 65%;
	float: right;
	margin: 24px 24px 0 0;
	text-align: right;
}
ul.nav {  
	list-style: none;
}
ul.nav li { 
	display: inline-block; 
	margin: 0 10px;
	font-size: 14px;
}

ul.nav a {
	color: #5A5A5A;
	text-decoration: none;
}

ul.nav a:hover {
	color: #00A5AD;
}

ul.errors {
	margin-left: 15px;
}

/** TYPE */
h1 { 
	color: #00A5AD;
	font-size: 2.083em; 
	font-weight: bold;
}

h2 {
	color: #796f6b;
	margin: 0 0 15px 0;
	padding: 0 0 6px 0;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: solid 1px #f2f2f2;
}

p {
	margin: 10px 0;
	color: #666;
	line-height: 1.3em;
}

a { 
	color: #00A5AD;
	text-decoration: none;
}

/** BUTTONS */
.btn { margin-right: 20px; }
.btn-submit {
	background: #05b7c0;
	color: #fff;
}

.btn-submit:hover {
	color: #fff;
	background: #03858B;
}

.btn-delete { 
	color: #fff;
	background: #EC0606;
}

.btn-delete:hover {
	background: #A70303;
	color: #fff;
}

/** SIGN IN */
#wrapper-user { 
	max-width: 440px;
	 margin: 30px auto; 
	 background: #fff; 
}

#wrapper-user #header { 
	text-align: center; 
}

#wrapper-user #logo { 
	margin: 30px auto 20px; 
}

#wrapper-user #content {
	width: 400px;
	margin: 0 auto;
	padding: 0 20px 20px;
}

#wrapper-user h1 { 
	text-align: center;
	font-size: 20px;
}

input[name="login"] {
	width: 100%;
}

/** DASHBOARD VIDEOS */
.table>tbody>tr>td { vertical-align: middle; }
td.video-thumb { width: 15%; }
td.video-title { width: 21%; }
p.message { max-width: 900px; }
td.video-description {
	width: 50%;
}

/** CUSTOMIZE VIDEO */
img.image-preview { width: 95%; }
#marketing-info { display: none; }
p.marketing-error { display: none; color: red; }

/** FOOTER */
#footer { 
	background: #f7f7f7;
	padding: 20px;
}

p#copyright {
	font-size: 11px;
	text-align: center;
}

/** BOOTSTRAP DISABLE RESPONSIVENESS. REMOVE TO ENABLE RESPONSIVENESS */
@media (min-width: 768px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
